.container{
    margin-top: 10vh;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.flex-container > div {
    width: 300px;
    border: 1px solid red;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
}

/* Admin page btn style */ 
.btn-container{
    display: flex;
    margin-bottom: 1rem;
}
.list {
    width: 200px;
}